<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h3>_Layout2 - admin</h3>
        @RenderBody()
    </div>
@RenderSection("Scripts", required: false)
</body>
</html>
